.mynav li {
    margin-left: 20px;
    margin-right: 20px;
}

.mybread {

}

.item {
    background: #333;
    text-align: center;
    /*height: 500px;*/
}

#myCarousel {
    margin-top: 0;
    /*width: 970px;*/
}

.myfeature {
    margin-top: 20px;
    /*border: 1px solid #ccc;*/
}
/*实现左右摇摆的动画效果*/
.myfeature .col-md-3:hover .mypic {
    -webkit-animation: swing .4s .2s ease both;
    -moz-animation: swing .4s .2s ease both;
}


.myfooter {
    /*height: 320px;*/
    width: 100%;
    background-color: gainsboro;

}


