{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}菜单列表 - 在线点餐网{% endblock %}

{% block custom_bread %}
    <ol class="breadcrumb" style="background-color: white;">
        <li><a href="{% url 'index' %}">首页</a></li>
        <li class="active">菜单列表</li>
    </ol>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-9">

            <ul class="nav nav-pills nav-justified">
                <li class="{% if category == '' %}active{% endif %}"><a href="?ct=&sort={{ sort }}">全部</a></li>
                <li class="{% if category == 'rh' %}active{% endif %}"><a href="?ct=rh&sort={{ sort }}">热荤</a></li>
                <li class="{% if category == 'rs' %}active{% endif %}"><a href="?ct=rs&sort={{ sort }}">热素</a></li>
                <li class="{% if category == 'lc' %}active{% endif %}"><a href="?ct=lc&sort={{ sort }}">凉菜</a>
                </li>
                <li class="{% if category == 'td' %}active{% endif %}"><a href="?ct=td&sort={{ sort }}">甜点</a></li>
                <li class="{% if category == 'zs' %}active{% endif %}"><a href="?ct=zs&sort={{ sort }}">主食</a></li>
                <li class="{% if category == 'js' %}active{% endif %}"><a href="?ct=js&sort={{ sort }}">饮品</a>
                </li>
            </ul>
            <br/>
            <ul class="nav nav-tabs">
                <li class="{% if sort == '' %}active{% endif %}"><a href="?ct={{ category }}&sort=">最新 </a>
                </li>
                <li class="{% if sort == 'order' %}active{% endif %}"><a
                        href="?ct={{ category }}&sort=order">下单最多 ↓</a></li>
                <li class="{% if sort == 'fav' %}active{% endif %}"><a href="?ct={{ category }}&sort=fav">收藏最多
                    ↓</a>
                </li>
            </ul>
            <br/>
            <div class="row">
                {% for food in all_foods.object_list %}
                    <div class="col-md-4">
                        <div class="thumbnail">
                            <a target="_blank" href="{% url 'food:food_detail' food.id %}"><img src="{{ MEDIA_URL }}{{ food.image }}"
                                                                                alt="菜品图片"></a>
                            <div class="caption">
                                <p style="margin-left: 10px">
                                    <a target="_blank" style="text-decoration: none;" href="{% url 'food:food_detail' food.id %}">
                                        <i style="font-size: 20px">{{ food.name }}</i>
                                    </a>
                                </p>

                                <p style="margin-left: 10px; margin-right: 10px; margin-bottom: 35px">
                                    <span style="float: left"><i style="color: grey">已售{{ food.buy_nums }}份</i></span>
                                    <span style="float: right"><img src="{% static 'img/fav.png' %}"><i
                                            style="color: #ffa735">({{ food.fav_nums }})</i></span>
                                </p>

                                <p style="margin-bottom: 50px; margin-left: 10px; margin-right: 10px">
                                    <span style="float: left"><i style="font-size: 18px; color: red; font-weight: bold">￥{{ food.price }}</i></span>
                                    <span style="float: right" title=""><i style="color: orange;">{{ food.get_category_display }}</i></span>

                                </p>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>

            <div class="pageturn">
                <ul class="pagelist">

                    {% if all_foods.has_previous %}
                        <li class="long"><a
                                href="?{{ all_foods.previous_page_number.querystring }}">上一页</a></li>
                    {% endif %}

                    {% for page in all_foods.pages %}
                        {% if page %}
                            {% ifequal page all_foods.number %}
                                <li class="active"><a href="?{{ page.querystring }}">{{ page }}</a></li>
                            {% else %}
                                <li><a href="?{{ page.querystring }}" class="page">{{ page }}</a></li>
                            {% endifequal %}
                        {% else %}
                            <li><a href="" class="none">...</a></li>
                        {% endif %}
                    {% endfor %}
                    {% if all_foods.has_next %}
                        <li class="long"><a
                                href="?{{ all_foods.next_page_number.querystring }}">下一页</a>
                        </li>
                    {% endif %}

                </ul>
            </div>
        </div>

        {#        <div class="col-md-3" style="margin-top: -15px">#}
        {#            <h3>热门菜品推荐</h3>#}
        {#        <div class="row">#}
        {#            {% for hot_food in hot_foods %}#}
        {#                <div class="col-md-12">#}
        {#                    <div class="thumbnail">#}
        {#                        <a href="{% url 'food:food_detail' hot_food.id %}">#}
        {#                            <img src="{{ MEDIA_URL }}{{ hot_food.image }}"/>#}
        {#                        </a>#}
        {#                        <div class="caption">#}
        {#                            <a style="text-decoration: none" href="{% url 'food:food_detail' hot_food.id %}">#}
        {#                                <h3>{{ hot_food.name }}</h3></a>#}
        {#                            <p>#}
        {#                                <span class="fl">价格：<i class="key">{{ hot_food.price }}<i style="font-size: 14px">元</i></i></span>#}
        {#                            </p>#}
        {#                            <br/>#}
        {##}
        {#                        </div>#}
        {#                    </div>#}
        {#                </div>#}
        {#            {% endfor %}#}
        {#        </div>#}
        {##}
        {#        </div>#}

        <div class="col-md-3">
            <div class="panel panel-default" style="border-color: white">
                <div class="panel-heading">
                    <h4>热门菜品推荐</h4>
                </div>
                <div class="panel-body">
                    <div class="row">
                        {% for hot_food in hot_foods %}
                            <div class="col-md-12">
                                <div class="thumbnail">
                                    <a href="{% url 'food:food_detail' hot_food.id %}">
                                        <img src="{{ MEDIA_URL }}{{ hot_food.image }}"/>
                                    </a>
                                    <div class="caption">
                                        <a style="text-decoration: none"
                                           href="{% url 'food:food_detail' hot_food.id %}">
                                            <h3>{{ hot_food.name }}</h3></a>
                                        <p>
                                            <span class="fl">价格：<i class="key">{{ hot_food.price }}<i
                                                    style="font-size: 14px">元</i></i></span>
                                        </p>
                                        <br/>

                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>

    </div>
{% endblock %}



