{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}菜单列表 - 在线点餐网{% endblock %}

{% block custom_bread %}
    <section>
        <div class="wp">
            <ul class="crumbs">
                <li><a href="index.html">首页</a>></li>
                <li>菜单列表</li>
            </ul>
        </div>
    </section>
{% endblock %}

{% block content %}
    <section>
        <div class="wp">
            <div class="list" style="margin-top:0;">
                <div class="left layout">
                    <div class="head">
                        <ul class="tab_header">
                            <li class="{% if category == '' %}active{% endif %}"><a href="?ct=&sort={{ sort }}">全部</a></li>
                            <li class="{% if category == 'rh' %}active{% endif %}"><a href="?ct=rh&sort={{ sort }}">热荤</a></li>
                            <li class="{% if category == 'rs' %}active{% endif %}"><a href="?ct=rs&sort={{ sort }}">热素</a></li>
                            <li class="{% if category == 'lc' %}active{% endif %}"><a href="?ct=lc&sort={{ sort }}">凉菜</a>
                            </li>
                            <li class="{% if category == 'td' %}active{% endif %}"><a href="?ct=td&sort={{ sort }}">甜点</a></li>
                            <li class="{% if category == 'zs' %}active{% endif %}"><a href="?ct=zs&sort={{ sort }}">主食</a></li>
                            <li class="{% if category == 'js' %}active{% endif %}"><a href="?ct=js&sort={{ sort }}">酒水</a>
                            </li>
                        </ul>
                        <ul class="tab_header">
                            <li class="{% if sort == '' %}active{% endif %}"><a href="?ct={{ category }}&sort=">最新 </a></li>
                            <li class="{% if sort == 'order' %}active{% endif %}"><a href="?ct={{ category }}&sort=order">下单最多 ↓</a></li>
                            <li class="{% if sort == 'fav' %}active{% endif %}"><a href="?ct={{ category }}&sort=fav">收藏最多 ↓</a>
                            </li>
                        </ul>
                    </div>
                    <div id="inWindow">
                        <div class="tab_cont " id="content">
                            <div class="group_list">
                                {% for food in all_foods.object_list %}
                                    <div class="box">
                                        <a href="{% url 'food:food_detail' food.id %}">
                                            <img width="280" height="350" class="scrollLoading"
                                                 src="{{ MEDIA_URL }}{{ food.image }}"/>
                                        </a>
                                        <div class="des">
                                            <a href="{% url 'food:food_detail' food.id %}">
                                                <h2>{{ food.name }}</h2>
                                            </a>
                                            <span class="fl">价格：<i class="key">{{ food.price }}<i
                                                    style="font-size: 16px">元</i></i></span>
                                            <span class="fr">下单数：{{ food.buy_nums }}</span>
                                        </div>
                                        <div class="bottom">
                                            <a href=""><span
                                                    class="fl">口味：{{ food.taste }} </span></a>
                                            <span class="star fr  notlogin
                                        " data-favid="15">
                                        {{ food.fav_nums }}
                                    </span>
                                        </div>
                                    </div>

                                {% endfor %}


                            </div>
                            <div class="pageturn">
                                <ul class="pagelist">

                                    {% if all_foods.has_previous %}
                                        <li class="long"><a
                                                href="?{{ all_foods.previous_page_number.querystring }}">上一页</a></li>
                                    {% endif %}

                                    {% for page in all_foods.pages %}
                                        {% if page %}
                                            {% ifequal page all_foods.number %}
                                                <li class="active"><a href="?{{ page.querystring }}">{{ page }}</a></li>
                                            {% else %}
                                                <li><a href="?{{ page.querystring }}" class="page">{{ page }}</a></li>
                                            {% endifequal %}
                                        {% else %}
                                            <li><a href="" class="none">...</a></li>
                                        {% endif %}
                                    {% endfor %}
                                    {% if all_foods.has_next %}
                                        <li class="long"><a
                                                href="?{{ all_foods.next_page_number.querystring }}">下一页</a>
                                        </li>
                                    {% endif %}

                                </ul>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="right layout">
                    <div class="head">热门菜品推荐</div>
                    <div class="group_recommend">
                        {% for hot_food in hot_foods %}
                            <dl>
                                <dt>
                                    <a target="_blank" href="{% url 'food:food_detail' hot_food.id %}">
                                        <img width="240" height="220" class="scrollLoading"
                                             src="{{ MEDIA_URL }}{{ hot_food.image }}"/>
                                    </a>
                                </dt>
                                <dd>
                                    <a target="_blank" href="{% url 'food:food_detail' hot_food.id %}"><h2>{{ hot_food.name }}</h2></a>
                                    <span class="fl">价格：<i class="key">{{ hot_food.price }}<i
                                            style="font-size: 14px">元</i></i></span>
                                </dd>
                            </dl>

                        {% endfor %}

                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}



