{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}菜品详情 - 在线点餐网{% endblock %}

{% block custom_css %}
{% endblock %}

{% block custom_bread %}
    <ol class="breadcrumb" style="background-color: white;">
        <li><a href="{% url 'index' %}">首页</a></li>
        <li><a href="{% url 'food:food_list' %}">全部菜单</a></li>
        <li class="active">菜品详情</li>
    </ol>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-9">
            <div class="row">
                <div class="col-md-6">
                    <img width="440" height="445"
                         src="{{ MEDIA_URL }}{{ food.image }}"
                         />
                </div>
                <div class="col-md-6">
                    <div style="margin-left: 20px">
                        <h1>{{ food.name }}</h1>
                        <div style="height: 65px; background-color: #F8F8F8; padding: 10px">
                            <span>价格：<i style="color: #fa8341; font-size: 30px">{{ food.price }}<i
                                    style="font-size: 16px">元</i></i></span>
                            <span style="margin-left: 30px">下单数：{{ food.buy_nums }}</span>
                        </div>
                        <ul>
                            <li style="margin-top: 20px"><span
                                    class="">口&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;味：</span><span>{{ food.taste }}</span>
                            </li>
                            <li style="margin-top: 20px"><span
                                    class="">口&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;味：</span><span>{{ food.taste }}</span>
                            </li>
                            <li style="margin-top: 20px"><span
                                    class="">口&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;味：</span><span>{{ food.taste }}</span>
                            </li>

                            <li style="margin-top: 20px"><span class="">类&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;别：</span><span
                                    title="">{{ food.get_category_display }}</span>
                            </li>
                            <li style="margin-top: 20px"><span class="">下单用户：</span>
                                <span class=""><img width="40" height="40"
                                                    src=""/></span>
                            </li>
                        </ul>
                        <div style="margin-top: 40px">
                            <button type="button" class="btn btn-warning btn-lg" id="jsLeftBtn">
                                {% if has_fav_food %}已收藏{% else %}收藏{% endif %}
                            </button>
                            <button style="margin-left: 50px" type="button" class="btn btn-warning btn-lg"><a
                                    style="color: white; text-decoration: none"
                                    href="{% url 'food:cart_add' food.id %}">加入购物车</a>
                            </button>
                        </div>
                    </div>

                </div>
            </div>
            <br/>
            <div class="row">
                <div class="col-md-12">
                    <div style="background-color: #F8F8F8; height: 65px; padding: 10px; border-left: 1px solid #EAEAEA; border-top: 1px solid #EAEAEA; border-right: 1px solid #EAEAEA;">
                        <h3>详细介绍</h3>
                    </div>
                    <div style="padding: 10px; border: 1px solid #EAEAEA">
                        {% autoescape off %}
                            {{ food.detail }}
                        {% endautoescape %}
                    </div>

                </div>
            </div>
            <br/>
            <div class="row">
                <div class="col-md-12">
                    <!--发布评论-->
                    <div class="" id="js-pl-input-fake">
                                        <textarea id="js-pl-textarea" style="width: 500px; height: 100px; padding: 10px"
                                                  placeholder="对这道菜满意吗？在这留下你的评论吧……想说啥就说啥！"></textarea>
                    </div>
                    <input type="button" id="js-pl-submit" class="btn" data-cid="452" value="发表评论"
                           style="background-color: #00C850; color: white">
                    <p class="global-errortip js-global-error"></p>
                </div>
            </div>
            <br/><br/>

                 {% for user_comments in food_comments %}
                <div class="row" style="border-bottom: 1px solid #EAEAEA">
                    <div class="col-md-12">
                        <div>
                            <div class="col-md-1">
                                <img src='{{ MEDIA_URL }}{{ user_comments.user.image }}'
                                     width='40' height='40'/>
                            </div>
                            <div class="col-md-11">
                                <p style="color: limegreen">
                                    <strong>{{ user_comments.user.nick_name }}</strong>
                                </p>
                                <p style="font-size: larger;">
                                    {{ user_comments.comments }}
                                </p>
                                <p style="color: darkgrey">
                                    <small>时间：{{ user_comments.add_time }}</small>
                                </p>
                            </div>
                        </div>

                    </div>
                </div>

                <br/>
            {% endfor %}


        </div>

        <div class="col-md-3">
        <div class="panel panel-default" style="border-color: white;">
            <div class="panel-heading">
                <h4>相关菜品推荐</h4>
            </div>
            <div class="panel-body">
                <div class="row">

                {% for relate_food in relate_foods %}
                    <div class="col-md-12">
                        <div class="thumbnail">
                            <a href="{% url 'food:food_detail' relate_food.id %}">
                                <img src="{{ MEDIA_URL }}{{ relate_food.image }}"/>
                            </a>
                            <div class="caption">
                                <a style="text-decoration: none" href="{% url 'food:food_detail' relate_food.id %}">
                                    <h3>{{ relate_food.name }}</h3></a>
                                <p>
                                    <span class="fl">价格：<i class="key">{{ relate_food.price }}<i
                                            style="font-size: 14px">元</i></i></span>
                                </p>
                                <br/>

                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
            </div>
        </div>

        </div>
    </div>
<br/><br/>

    {% block custom_js %}
        <script type="text/javascript">
            //收藏分享
            function add_fav(current_elem, user_id, food_id) {
                $.ajax({
                    cache: false,
                    type: "POST",
                    url: "{% url 'food:add_fav' %}",
                    data: {'user_id': user_id, 'food_id': food_id},
                    async: true,
                    beforeSend: function (xhr, settings) {
                        xhr.setRequestHeader("X-CSRFToken", "{{ csrf_token }}");
                    },
                    success: function (data) {
                        if (data.status == 'fail') {
                            if (data.msg == '用户未登录') {
                                window.location.href = "/login/";
                            } else {
                                alert(data.msg)
                            }

                        } else if (data.status == 'success') {
                            current_elem.text(data.msg)
                        }
                    }
                });
            }

            $('#jsLeftBtn').on('click', function () {
                add_fav($(this), {{ request.user.id }}, {{ food.id }});
            });

        </script>

        <script type="text/javascript">
            //添加评论
            $('#js-pl-submit').on('click', function () {
                var comments = $("#js-pl-textarea").val()
                if (comments == "") {
                    alert("评论不能为空")
                    return
                }
                $.ajax({
                    cache: false,
                    type: "POST",
                    url: "{% url 'food:add_comment' %}",
                    data: {'food_id':{{ food.id }}, 'comments': comments},
                    async: true,
                    beforeSend: function (xhr, settings) {
                        xhr.setRequestHeader("X-CSRFToken", "{{ csrf_token }}");
                    },
                    success: function (data) {
                        if (data.status == 'fail') {
                            if (data.msg == '用户未登录') {
                                window.location.href = "/login/";
                            } else {
                                alert(data.msg)
                            }

                        } else if (data.status == 'success') {
                            alert(data.msg);
                            window.location.reload();//刷新当前页面.
                        }
                    }
                });
            });

        </script>
    {% endblock %}

{% endblock %}

