{% extends 'page-base.html' %}
{% load staticfiles %}

{% block title %}忘记密码—在线点餐网{% endblock %}

{% block content %}
    <div class="container">
    <div class="row" style="min-height: 600px; margin-top: 30px">
        <div class="col-md-8">
            <img src="{% static 'images/forgetimag.jpg' %}">
        </div>
        <div class="col-md-4">
            <h2>忘记密码</h2>
            <form id="jsFindPwdForm" method="post" action="{% url 'forget_pwd' %}" autocomplete="off">
                <div style="font-size: large; margin-top: 30px">
                    <input class="{% if forget_form.errors.email or msg %}myerrorput{% endif %} " type="text"
                           id="id_email" name="email" value="{{ forget_form.email.value|default_if_none:'' }}"
                           placeholder="请输入你的邮箱"/>
                </div>
                <div class="text-center" style="font-size: smaller; color: red">
                    {{ forget_form.errors.email }}{{ msg }}</div>

                <div class="mycaptcha {% if forget_form.errors.captcha %}myinputerrorput{% endif %}" style="font-size: large; margin-top: 40px;">
                    {{ forget_form.captcha }}
                </div>
            <div class="text-center" style="font-size: smaller; color: red">
                    {{ forget_form.errors.captcha }}</div>

                <input type="hidden" name="sms_type" value="1">
                <input class="btn btn-success" style="margin-top: 40px;" id="jsFindPwdBtn" type="submit" value="提交"/>
                {% csrf_token %}
            </form>
                    <div class="text-left" style="margin-top: 20px">你还可以 <a href="{% url 'login' %}">[直接登录]</a></div>

        </div>
    </div>
</div>

{% endblock %}

{% block custom_js %}
<script src="{% static 'js/validateDialog.js' %}" type="text/javascript"></script>
{% endblock %}
