{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}首页 - 线上点餐网{% endblock %}

{% block custom_bread %}

{% endblock %}

{% block custom_js %}
    <script type="text/javascript" src="/static/js/index.js"></script>

{% endblock %}

{% block content %}
    <div id="myCarousel" class="carousel slide" data-interval="2000" data-ride="carousel">
        <!-- 轮播图 -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
            <li data-target="#myCarousel" data-slide-to="3"></li>
            <li data-target="#myCarousel" data-slide-to="4"></li>

        </ol>
        <!-- 轮播（Carousel）项目 -->
        <div class="carousel-inner">
            {% for banner in all_banners %}
                <div class="item {% if banner.index == 1 %}active{% endif %}">
                    <img src="{{ MEDIA_URL }}{{ banner.image }}" alt="Second slide" height="100%" width="100%">
                </div>
            {% endfor %}

        </div>
        <!-- 轮播（Carousel）导航 -->
        <a class="carousel-control left" href="#myCarousel"
           data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span>
        </a>
        <a class="carousel-control right" href="#myCarousel"
           data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span>
        </a>
    </div>
    <!--banner end-->

    <!--feature start-->

<div class="row myfeature">
        <div class="col-md-3 col-sm-6">
            <p class="text-center">
                <img class="mypic" src="/static/images/feature1.png"/>
            </p>
            <p class="text-center">安全放心</p>
        </div>
        <div class="col-md-3 col-sm-6">
            <p class="text-center">
                <img class="mypic" src="/static/images/feature2.png"/>
            </p>
            <p class="text-center">线上支付</p>
        </div>
        <div class="col-md-3 col-sm-6">
            <p class="text-center">
                <img class="mypic" src="/static/images/feature3.png"/>
            </p>
            <p class="text-center">清晨采购</p>
        </div>
        <div class="col-md-3 col-sm-6">
            <p class="text-center">
                <img class="mypic" src="/static/images/feature4.png"/>
            </p>
            <p class="text-center">提前预订</p>
        </div>
    </div>


    <!--feature end-->

    <!-- 今日推荐 -->
    <div>
        <h1>今日推荐</h1>
        <div class="row">
            {% for food in foods %}
                <div class="col-sm-6 col-md-3">
                    <div class="thumbnail">
                        <a href="{% url 'food:food_detail' food.id %}"><img src="{{ MEDIA_URL }}{{ food.image }}" alt="菜品图片"></a>
                        <div class="caption">
                            <a style="text-decoration: none" href="{% url 'food:food_detail' food.id %}">
                                <h3>{{ food.name }}</h3>
                            </a>
                             <span class="fl">价格：<i class="key">{{ food.price }}元</i></span>
                                <span class="fr">下单数：{{ food.buy_nums }}</span>
                            <br/>
                            <p>
                                 <span class="fl" title="">{{ food.get_category_display }}</span>
                                <span class="fr">收藏数：{{ food.fav_nums }}</span>
                            </p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>


{% endblock %}
