{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}首页 - 线上点餐网{% endblock %}

{% block custom_bread %}

{% endblock %}

{% block custom_js %}
    <script type="text/javascript" src="/static/js/index.js"></script>

{% endblock %}

{% block content %}
    <div id="myCarousel" class="carousel slide" data-interval="2000" data-ride="carousel">
        <!-- 轮播图 -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
            <li data-target="#myCarousel" data-slide-to="3"></li>
            <li data-target="#myCarousel" data-slide-to="4"></li>

        </ol>
        <!-- 轮播（Carousel）项目 -->
        <div class="carousel-inner">
            {% for banner in all_banners %}
                <div class="item {% if banner.index == 1 %}active{% endif %}">
                    <img src="{{ MEDIA_URL }}{{ banner.image }}" alt="Second slide" height="100%" width="100%">
                </div>
            {% endfor %}

        </div>
        <!-- 轮播（Carousel）导航 -->
        <a class="carousel-control left" href="#myCarousel"
           data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span>
        </a>
        <a class="carousel-control right" href="#myCarousel"
           data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span>
        </a>
    </div>
    <!--banner end-->

    <!--feature start-->

    <div class="row feature">
        <div class="col-md-3">
            <img class="pic" src="/static/images/feature1.png"/>
            <p class="center">安全放心</p>
        </div>
        <div class="col-md-3">
            <img class="pic" src="/static/images/feature2.png"/>
            <p class="center">线上支付</p>
        </div>
        <div class="col-md-3">
            <img class="pic" src="/static/images/feature3.png"/>
            <p class="center">清晨采购</p>
        </div>
        <div class="col-md-3">
            <img class="pic" src="/static/images/feature4.png"/>
            <p class="center">支持预订</p>
        </div>
    </div>

    <!--feature end-->

    <!-- 今日推荐 -->
    <div>
        <h1>今日推荐</h1>
        <div class="row">
            {% for food in foods %}
                <div class="col-sm-6 col-md-3">
                    <div class="thumbnail">
                        <a href="{% url 'food:food_detail' food.id %}"><img src="{{ MEDIA_URL }}{{ food.image }}" alt="菜品图片"></a>
                        <div class="caption">
                            <a href="{% url 'food:food_detail' food.id %}">
                                <h3>{{ food.name }}</h3>
                            </a>
                             <span class="fl">价格：<i class="key">{{ food.price }}元</i></span>
                                <span class="fr">下单数：{{ food.buy_nums }}</span>
                            <br/>
                            <p>
                                 <span class="fl" title="">{{ food.get_category_display }}</span>
                                <span class="fr">收藏数：{{ food.fav_nums }}</span>
                            </p>


                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

    {#    <section>#}
    {#        <div class="module greybg">#}
    {#            <div class="wp">#}
    {#                <h1>课程机构</h1>#}
    {#                <div class="module3 eachmod">#}
    {#                    <div class="module3_1 left">#}
    {#                        <img width="228" height="463" src="/static/images/module3_1.jpg"/>#}
    {#                        <p class="fisrt_word">名校来袭<br/>权威认证</p>#}
    {#                        <a class="more" href="org-list.html">查看更多机构 ></a>#}
    {#                    </div>#}
    {#                    <div class="right">#}
    {#                        <ul>#}
    {#                        {% for org in all_org %}#}
    {#                            <li class="{% if forloop.counter|divisibleby:5 %}five{% endif %}">#}
    {#                                <a href="{% url 'org:org_home' org.id %}">#}
    {#                                    <div class="company">#}
    {#                                        <img width="184" height="100" src="{{ MEDIA_URL }}{{ org.image }}"/>#}
    {#                                        <div class="score">#}
    {#                                            <div class="circle">#}
    {#                                                <h2>全国知名</h2>#}
    {#                                            </div>#}
    {#                                        </div>#}
    {#                                    </div>#}
    {#                                    <p><span class="key" title="慕课网">{{ org.name }}</span></p>#}
    {#                                </a>#}
    {#                            </li>#}
    {#                        {% endfor %}#}
    {##}
    {#                        </ul>#}
    {#                    </div>#}
    {#                </div>#}
    {#            </div>#}
    {#        </div>#}
    {#    </section>#}
{% endblock %}
