{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}首页 - 线上点餐网{% endblock %}

{% block custom_bread %}

{% endblock %}

{% block custom_js %}
    <script type="text/javascript" src="/static/js/index.js"></script>

{% endblock %}

{% block content %}
    <div id="myCarousel" class="carousel slide" data-interval="2000" data-ride="carousel">
        <!-- 轮播图 -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
            <li data-target="#myCarousel" data-slide-to="3"></li>
            <li data-target="#myCarousel" data-slide-to="4"></li>

        </ol>
        <!-- 轮播（Carousel）项目 -->
        <div class="carousel-inner">
            {% for banner in all_banners %}
                <div class="item {% if banner.index == 1 %}active{% endif %}">
                    <a href="{{ banner.url }}"><img src="{{ MEDIA_URL }}{{ banner.image }}" alt="Second slide" height="100%" width="100%"></a>
                </div>
            {% endfor %}

        </div>
        <!-- 轮播（Carousel）导航 -->
        <a class="carousel-control left" href="#myCarousel"
           data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span>
        </a>
        <a class="carousel-control right" href="#myCarousel"
           data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span>
        </a>
    </div>
    <!--banner end-->

    <!--feature start-->

<div class="row myfeature">
        <div class="col-md-3 col-sm-6">
            <p class="text-center">
                <img class="mypic" src="{% static 'images/zhuce.png' %}"/>
            </p>
            <p class="text-center">注册</p>
        </div>
        <div class="col-md-3 col-sm-6">
            <p class="text-center">
                <img class="mypic" src="{% static 'images/diancai.png' %}"/>
            </p>
            <p class="text-center">点菜</p>
        </div>
        <div class="col-md-3 col-sm-6">
            <p class="text-center">
                <img class="mypic" src="{% static 'images/zhifu.png' %}"/>
            </p>
            <p class="text-center">支付</p>
        </div>
        <div class="col-md-3 col-sm-6">
            <p class="text-center">
                <img class="mypic" src="{% static 'images/jiucan.png' %}"/>
            </p>
            <p class="text-center">就餐</p>
        </div>
    </div>


    <!--feature end-->

    <!-- 今日推荐 -->
    <div>
        <h1>今日推荐</h1>
        <div class="row">
            {% for food in foods %}
                <div class="col-md-3">
                    <div class="thumbnail">
                        <a href="{% url 'food:food_detail' food.id %}"><img src="{{ MEDIA_URL }}{{ food.image }}" alt="菜品图片"></a>
                        <div class="caption">
                                <p style="margin-left: 10px">
                                    <a style="text-decoration: none;" href="{% url 'food:food_detail' food.id %}">
                                        <i style="font-size: 20px">{{ food.name }}</i>
                                    </a>
                                </p>

                                <p style="margin-left: 10px; margin-right: 10px; margin-bottom: 35px">
                                    <span style="float: left"><i style="color: grey">已售{{ food.buy_nums }}份</i></span>
                                    <span style="float: right"><img src="{% static 'img/fav.png' %}"><i
                                            style="color: #ffa735">({{ food.fav_nums }})</i></span>
                                </p>

                                <p style="margin-bottom: 50px; margin-left: 10px; margin-right: 10px">
                                    <span style="float: left"><i style="font-size: 18px; color: red; font-weight: bold">￥{{ food.price }}</i></span>
                                    <span style="float: right" title=""><i style="color: orange;">{{ food.get_category_display }}</i></span>

                                </p>
                            </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    <br/><br/>
    </div>


{% endblock %}
