<!DOCTYPE html>
<html>
{% load staticfiles %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <title>{% block title %}登录-在线点餐{% endblock %}</title>

    <link rel="stylesheet" type="text/css" href="{% static 'css/reset.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}">

    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap-theme.css' %}">
    <link rel="stylesheet" href="{% static 'css/mycss.css' %}">
    <style>
        input {
            border: 0;
            border-bottom: 1px solid #E3E3E3;
            width: 300px;
            height: 30px;
            margin: 10px;
        }
    </style>
{% block custom_css %}{% endblock %}
</head>
<body>
<!-- 导航栏 -->
<nav class="navbar navbar-default navbar-static-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" data-target="#navbar" data-toggle="collapse" class="navbar-toggle">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{% url 'index' %}">在线点餐网</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">

            <ul class="nav navbar-nav navbar-right">
                <li><a href="{% url 'index' %}"><span class="glyphicon glyphicon-home"></span> 首页</a></li>
                <li><a href={% url 'login' %}><span class="glyphicon glyphicon-log-in"></span> 登录</a></li>
                <li><a href={% url 'register' %}><span class="glyphicon glyphicon-user"></span> 注册</a></li>
                <li><a href="http://127.0.0.1:8000/xadmin/"><span class="glyphicon glyphicon-share-alt">后台</span></a></li>
            </ul>

        </div>
    </div>
</nav>

{% block content %}{% endblock %}

<div class="myfooter">
    <div class="container-fluid">
        <div class="container">
            <br/>
            <div class="row">
                <div class="col-md-4">
                    <h2>联系我们</h2>
                    <br/>
                    <h4>Tel: 6233-1111
                        <small>（周一至周日 8:00-22:00）</small>
                    </h4>
                    <h4>Email: lemonyolo@sina.com</h4>
                </div>

                <div class="col-md-4">
                    <h2>本站链接</h2>
                    <br/>
                    <h5><a href="{% url 'index' %}">首页</a></h5>
                    <h5><a href="{% url 'food:food_list' %}">全部菜单</a></h5>
                    <h5><a href="{% url 'food:shop_cart' %}">购物车</a></h5>
                    <h5><a href="{% url 'food:my_order' %}">我的订单</a></h5>
                    <h5><a href="{% url 'users:user_info' %}">个人中心</a></h5>
                </div>

                <div class="col-md-4">
                    <br/>
                    <img src="{% static 'images/erweima.jpg' %}" width="180px" height="180px">
                </div>
            </div>
            <br/>
            <div class="text-center">
                <h6>The Website Is Powered By <a href="http://lemonline.top">Lemon</a>, Design By <a href="http://lemonline.top">Lemon</a></h6>
                <h6>Copyright © 2017 Lemon All Rights Reserved.</h6>
            </div>
        </div>


    </div>
</div>
<script src="{% static 'jquery/jquery-3.1.1.js' %}"></script>
<script src="{% static 'js/bootstrap.js' %}"></script>
<script src="{% static 'js/jquery.min.js' %}" type="text/javascript"></script>
<script src="{% static 'js/unslider.js' %}" type="text/javascript"></script>
<script src="{% static 'js/login.js' %}" type="text/javascript"></script>

{% block custom_js %}{% endblock %}
</body>
</html>
