{% extends 'page-base.html' %}

{% load staticfiles %}

{% block title %}重置密码 - 在线点餐{% endblock %}

{% block content %}
    <div class="container">
    <div class="row" style="min-height: 600px; margin-top: 30px">
    <div class="col-md-8">
        <img src="{% static 'images/resetimage.jpg' %}">
    </div>
        <div class="col-md-4">
            <h2>重置密码</h2>
            <p>已经通过验证，请设置新密码</p>
        <form id="reset_password_form" action="{% url 'modify_pwd' %}" method="post">
                    <input type="hidden" name="email" value="{{ email }}">
                <div style="font-size: large; margin-top: 30px">
                    <input class="{% if modify_form.errors.password1 or msg %}myerrorput{% endif %}" name="password1"
                           id="pwd" type="password" value="{{ modify_form.password1.value }}" placeholder="新密码"/>
                </div>
                <div class="text-center" style="font-size: smaller; color: red">
                    {{ modify_form.errors.password1 }}</div>

                <div style="font-size: large; margin-top: 40px">
                    <input class="{% if modify_form.errors.password2 or msg %}myerrorput{% endif %}" name="password2"
                           id="repwd" type="password" value="{{ modify_form.password2.value }}" placeholder="确认密码"/>
                </div>
                <div class="text-center" style="font-size: smaller; color: red">
                    {{ modify_form.errors.password2 }}{{ msg }}</div>

                <button class="btn btn-success" style="margin-top: 40px" type="submit" >提交 > </button>
                {% csrf_token %}
            </form>
            <div class="text-left"style="margin-top: 20px">没有在线点餐网帐号？<a href="{% url 'register' %}">[立即注册]</a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="{% url 'forget_pwd' %}">忘记密码？</a></div>
        </div>
    </div>
</div>
{% endblock %}
