{% extends 'page-base.html' %}
{% load staticfiles %}

{% block title %}注册 - 在线点餐网{% endblock %}

{% block content %}
    <div class="container">
    <div class="row" style="min-height: 600px; margin-top: 30px">
        <div class="col-md-8">
            <img src="{% static 'images/registerimage.jpg' %}">
        </div>
        <div class="col-md-4">
            <h2>注册</h2>
            <form id="email_register_form" method="post" action="{% url 'register' %}" autocomplete="off">
                <div style="font-size: large; margin-top: 30px">
                    <input class="{% if register_form.errors.email or msg %}myerrorput{% endif %} " type="text"
                           id="id_email" name="email" value="{{ register_form.email.value|default_if_none:'' }}"
                           placeholder="请输入你的邮箱"/>
                </div>
                <div class="text-center" style="font-size: smaller; color: red">
                    {{ register_form.errors.email }}{{ msg }}</div>
                <div style="font-size: large; margin-top: 20px">
                    <input class="{% if register_form.errors.password %}myerrorput{% endif %}" type="password"
                           id="id_password" name="password"
                           value="{{ register_form.password.value|default_if_none:'' }}" placeholder="请输入6-20位非中文字符密码"/>
                </div>
                <div class="text-center" style="font-size: smaller; color: red">
                    {{ register_form.errors.password }}</div>
                <div class="mycaptcha {% if register_form.errors.captcha %}myinputerrorput{% endif %}" style="font-size: large; margin-top: 20px;">
                    {{ register_form.captcha }}
                </div>
            <div class="text-center" style="font-size: smaller; color: red">
                    {{ register_form.errors.captcha }}</div>

                <input class="btn btn-success {% if register_form.errors or msg %}{% else %}myRegister{% endif %}" style="margin-top: 20px;" id="jsEmailRegBtn" type="submit" value="注册并登录"/>
                {% csrf_token %}
            </form>
                    <div class="text-left" style="margin-top: 20px">已有账号？<a href="{% url 'login' %}">[立即登录]</a></div>

        </div>
    </div>
</div>

{% endblock %}

{% block custom_js %}
<script src="{% static 'js/validateDialog.js' %}" type="text/javascript"></script>
{#    <script type="text/javascript">#}
{#    $('.myRegister').on('click', function () {#}
{#        alert("激活链接已发送至你的邮箱，请前往邮箱完成账户激活。");#}
{#    });#}
{#    </script>#}
{% endblock %}
