<!DOCTYPE html>
<html lang="en">
{% load staticfiles %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>支付页面</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap-theme.css' %}">

    <script src="{% static 'jquery/jquery-3.1.1.js' %}"></script>
    <script src="{% static 'js/bootstrap.js' %}"></script>
</head>
<body>
<img src="{% static 'images/header.png' %}">
<div class="container-fluid" style="background-color: #F8F8F8; min-height: 420px">
    <div style="margin-top: 50px">
        <p class="text-center">
            <span style="font-size: smaller">扫一扫付款 (元)</span>
            <br/>
            <span style="font-size: 30px; color: #fc8800; font-weight: bolder">￥{{ total_money }}</span>
        </p>
        <img src="{% static 'images/zhifubao2.png' %}" class="img-responsive center-block" style="margin-top: -15px">

    </div>
    <div class="text-center" style="margin-top: 20px">
        <form action="{% url 'food:complete_pay' %}" method="post" autocomplete="off">
            <input type="hidden" value="{{ order_id }}" name="order_id" >
            <input type="submit" class="btn btn-danger" value="完成支付">
            {% csrf_token %}
        </form>
    </div>
</div>

<div>


</div>
</body>
</html>