{% extends 'usercenter-base.html' %}
{% load staticfiles %}

{% block title %}我的消息- 在线点餐网{% endblock %}

{% block bread %}
    <ol class="breadcrumb" style="background-color: white">
        <li><a href="{% url 'index' %}">首页</a></li>
        <li>我的消息</li>
    </ol>
{% endblock %}

{% block right_content %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4>我的消息</h4>
        </div>
        <div class="panel-body" style="padding: 25px">
            {% for message in all_messages.object_list %}

                <p><span class="glyphicon glyphicon-time"></span> {{ message.add_time }}</p>
                <p style="font-size: large; margin-top: 15px">
                    {{ message.message }}
                </p>
                <br/>
            {% endfor %}
        </div>
    </div>
     <div class="pageturn pagerright">
                <ul class="pagelist">

                    {% if all_messages.has_previous %}
                        <li class="long"><a href="?{{ all_messages.previous_page_number.querystring }}">上一页</a></li>
                    {% endif %}

                    {% for page in all_messages.pages %}
                        {% if page %}
                            {% ifequal page all_messages.number %}
                                <li class="active"><a href="?{{ page.querystring }}">{{ page }}</a></li>
                            {% else %}
                                <li><a href="?{{ page.querystring }}" class="page">{{ page }}</a></li>
                            {% endifequal %}
                        {% else %}
                            <li><a href="" class="none">...</a></li>
                        {% endif %}
                    {% endfor %}
                    {% if all_messages.has_next %}
                        <li class="long"><a href="?{{ all_messages.next_page_number.querystring }}">下一页</a></li>
                    {% endif %}

                </ul>
            </div>
{% endblock %}
