{% extends 'usercenter-base.html' %}

{% block title %}个人资料- 在线点餐网{% endblock %}

{% block bread %}
     <ol class="breadcrumb" style="background-color: white;">
            <li><a href="{% url 'index' %}">首页</a></li>
            <li class="active">个人信息</li>
    </ol>
{% endblock %}

{% block right_content %}
  <div class="panel panel-default">
      <div class="panel-heading">
        <h4>个人资料</h4>
      </div>

      <div class="panel-body">
          <div class="row">
              <div class="col-md-3 text-center">
                <form class="" id="jsAvatarForm" enctype="multipart/form-data" autocomplete="off" method="post" action="{% url 'users:image_upload' %}" target='frameFile'>
                        <label for="avatarUp">
                            <span id="avatardiv">
                                <img width="100" height="100" id="avatarShow" src="{{ MEDIA_URL }}{{ request.user.image }}"/>
                            </span>
                            <br/><br/>
                            <span class="upload-inp-box" >
                                <span class="btn btn-primary" id="jsAvatarBtn">修改头像</span>
                                <input type="file" name="image" id="avatarUp"/>
                            </span>
                        </label>
                        {% csrf_token %}
                    </form>

                  <div style="border-top:1px solid #eaeaea;margin-top:30px;">
                        <a class="btn btn-primary" id="jsUserResetPwd" style="margin-top: 30px;">修改密码</a>
                    </div>
            </div>
              <div class="col-md-9">
                  <form id="jsEditUserForm" autocomplete="off">
					<ul class="">
						<li style="margin-top: 20px">昵&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;称：
                           <input type="text" name="nick_name" id="nick_name" value="{{ request.user.nick_name }}" maxlength="10">
                            <i class="error-tips"></i>
                        </li>
						<li style="margin-top: 30px">生&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;日：
                           <input type="text" id="birth_day" name="birthday" value="{{ request.user.birthday|date:'Y-m-d'|default_if_none:'' }}" readonly="readonly"/>
                            <i class="error-tips"></i>
						</li>
						<li style="margin-top: 30px">性&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;别：
							<label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="radio"  name="gender" value="male" {% if request.user.gender == 'male' %}checked="checked"{% endif %}>男</label>
							<label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="radio" name="gender" value="female" {% if request.user.gender == 'female' %}checked="checked"{% endif %}>女</label>
						</li>
						<li style="margin-top: 30px" class="p_infor_city">地&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;址：
                            <input type="text" name="address" id="address" placeholder="请输入你的地址" value="{{ request.user.address }}" maxlength="10">
						    <i class="error-tips"></i>
                        </li>
						<li style="margin-top: 30px">手&nbsp;&nbsp;机&nbsp;&nbsp;号：
                            <input type="text" name="mobile" id="mobile" placeholder="请输入你的手机号码" value="{{ request.user.mobile|default_if_none:'' }}" >
                        </li>
                        <li style="margin-top: 30px">邮&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;箱：
                        	<input class="borderno" type="text" name="email" readonly="readonly" value="{{ request.user.email }}"/>
                            <span class="changeemai_btn"><a style="text-decoration: none">[修改]</a></span>
                    	</li>
						<li style="margin-top: 30px" class="">
							<input type="button" class="btn btn-primary" id="jsEditUserBtn" value="保存">
						</li>
					</ul>
                {% csrf_token %}
				</form>
              </div>
          </div>

      </div>
  </div>
{% endblock %}



